<%= render 'shared/navbar' %>

<div class="container">
  <div class="user-profile-container">
    <img class="user-profile-photo" src="<%= current_user.photo %>" alt="">
    <div class="">
      <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
      <p><%= current_user.email %></p>
    </div>
    <div class="">
      <%= link_to "Add restaurant profile", new_restaurant_path, class: "btn btn-add-restaurant" %>
    </div>
  </div>

  <div class="restaurant-profile-container">
    <% @restaurants.each do |restaurant| %>
      <% if restaurant.id == current_user.id %>
      <div class="profile-restaurant">
        <img class="profile-restaurant-photo" src="<%= restaurant.photo %>" alt="">
        <%= link_to "edit", edit_restaurant_path(restaurant.id), class: "btn btn-edit-restaurant" %>
        <%= link_to "Delete", edit_restaurant_path(restaurant.id), class: "btn btn-delete-restaurant" %>
      </div>
      <div class="">
        <h2><%= restaurant.name %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nisi imperdiet, malesuada lacus ac, fermentum dui. Curabitur risus purus, auctor a interdum ut, elementum sit amet ligula. Etiam tincidunt mauris eget leo pulvinar lobortis. Vestibulum tempus lectus in justo congue, eget vestibulum magna dignissim. Aliquam convallis hendrerit purus eu aliquet. Fusce a nibh dignissim, finibus lectus vitae.</p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
