<div class="banner">
  <%= render 'shared/navbar' %>
</div>

<div class="container">
  <div class="user-profile-container">
    <img class="user-profile-photo" src="<%= current_user.photo %>" alt="">
    <div class="">
      <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
      <p><%= current_user.email %></p>
    </div>
    <div class="">
      <%= link_to "Add restaurant profile", new_restaurant_path, class: "btn btn-add-restaurant" %><br>
      <%= link_to "See my orders", new_restaurant_path, class: "btn btn-see-orders mt-3" %>
    </div>
  </div>

  <div class="restaurant-profile-container">
    <% @restaurants.each do |restaurant| %>
      <% if restaurant.id == current_user.id %>
      <div class="profile-restaurant">
        <img class="profile-restaurant-photo" src="<%= restaurant.photo %>" alt="">
        <%= link_to "edit", edit_restaurant_path(restaurant.id), class: "btn btn-edit-restaurant" %>
        <%= link_to "Delete", edit_restaurant_path(restaurant.id), class: "btn btn-delete-restaurant" %>
        <%= link_to "Add Meal", new_restaurant_meal_path(restaurant.id), class: "btn btn-add-meal" %>
      </div>
      <div class="">
        <h2><%= restaurant.name %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel nisi imperdiet, malesuada lacus ac, fermentum dui. Curabitur risus purus, auctor a interdum ut, elementum sit amet ligula. Etiam tincidunt mauris eget leo pulvinar lobortis. Vestibulum tempus lectus in justo congue, eget vestibulum magna dignissim. Aliquam convallis hendrerit purus eu aliquet. Fusce a nibh dignissim, finibus lectus vitae.</p>
      </div>
    </div>
          <div class="meal-profile-container">
            <% @meals.each do |meal| %>
            <% if meal.restaurant_id == restaurant.id %>
              <div class="meal-content mb-3">
                <div class="row">
                  <div class="col-lg-3">
                    <img class="profile-meal-img" src="<%= meal.photo %>" alt="">
                  </div>
                  <div class="col-lg-3">
                    <p><%= meal.name %></p>

                  </div>
                  <div class="col-lg-3">
                    <p><%= meal.price %></p>
                  </div>
                  <div class="col-lg-3">
                    <%= link_to "Edit meal", edit_restaurant_meal_path(restaurant.id), class: "btn btn-info" %>
                  </div>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>

      <% end %>
    <% end %>


</div>
