<div class="restaurant-show"
  style="
    background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(<%= @restaurant.photo %>);
    height: 90vh;
    ">
  <%= render 'shared/navbar' %>
  <div class="container">
    <div class="restaurant-header">
      <h1 class="text-center"><%= @restaurant.name %></h1>
      <p><%= @restaurant.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="meal-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="meal-grid">
          <% @meals.each do |meal| %>
            <% if meal.restaurant_id == @restaurant.id %>
              <div class="row">
                <div class="meal-card">
                <div class="col-lg-5 img-meal"
                  style="background-image: url(<%= meal.photo %>);
                  background-size: 100% 100%;
                ">
                </div>
                <div class="col-lg-7">
                  <h3><%= meal.name %></h3>
                  <p><%= meal.description %></p>
                  <p class="meal-price">
                    <%price = meal.price %>
                    <%= link_to "Order Now #{price}", new_order_path(meal.id) %>
                  </p>
                </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="map"
             style="width: 100%; height: 500px;"
             data-markers="<%= @markers.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
    </div>

  </div>
</div>
